.place__main-text{
    grid-area: main-text;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    
}

@media screen and (max-width: 1023px){
    .place__main-text{
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px){
    .place__main-text{
        width: 288px;
        font-size: 16px;
        line-height: 26px;
        margin-left: 16px;
    } 
}