.cover__background{
    background-image: url('../../../images/cover-route-66.jpg');    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0 auto;
    width: 1184px;
    height: 740px;
    opacity: 0.8;
    transition: opacity 0.5s linear;
}

@media screen and (max-width: 1279px){
    .cover__background{
        width: 1024px;
        height: 640px;
    }
    
}
@media screen and (max-width: 1023px){
    .cover__background{
        width: 768px;
        height: 480px;
    }
    
}

@media screen and (max-width: 767px){
    .cover__background{
        width: 320px;
        height: 200px;
    }
    
}



.cover__background:hover{
    transition: opacity 0.5s linear;
    opacity: 0.3;
}
